/*
:Author: Your Name
:Contact: Your Email Address
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with Docutils.  [Optionally place a more
detailed description here.]
*/

@import url(html4css1.css);
@import url(code.css);

/* Your customizations go here.  For example: */

p.topic-title {
  font-size: 200% }

p.caption {
  font-size: 120% ;
  text-align: center }

div.figure {
  text-align: center }

div.highlight {
  horizontal-align: center }

