div.highlight  {margin: 2em; }
div.highlight  { background: #f0f0f0; }
div.highlight .lineno { color: DarkGreen; font-style: italic; font-size: smaller }         /* Line Number */
div.highlight .c { color: Blue; font-style: italic }         /* Comment */
div.highlight .err { border: 1px solid #FF0000 }                /* Error */
div.highlight .k { color: Brown; font-weight: bold }          /* Keyword */
div.highlight .o { color: Brown }                             /* Operator */
div.highlight .cm { color: #60a0b0; font-style: italic }        /* Comment.Multiline */
div.highlight .cp { color: #007020 }                            /* Comment.Preproc */
div.highlight .c1 { color: #60a0b0; font-style: italic }        /* Comment.Single */
div.highlight .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
div.highlight .gd { color: #A00000 }                            /* Generic.Deleted */
div.highlight .ge { font-style: italic }                        /* Generic.Emph */
div.highlight .gr { color: #FF0000 }                            /* Generic.Error */
div.highlight .gh { color: #000080; font-weight: bold }         /* Generic.Heading */
div.highlight .gi { color: #00A000 }                            /* Generic.Inserted */
div.highlight .go { color: #808080 }                            /* Generic.Output */
div.highlight .gp { color: #c65d09; font-weight: bold }         /* Generic.Prompt */
div.highlight .gs { font-weight: bold }                         /* Generic.Strong */
div.highlight .gu { color: #800080; font-weight: bold }         /* Generic.Subheading */
div.highlight .gt { color: #0040D0 }                            /* Generic.Traceback */
div.highlight .kc { color: #ffa0a0; font-weight: bold }         /* Keyword.Constant */
div.highlight .kd { color: #007020; font-weight: bold }         /* Keyword.Declaration */
div.highlight .kp { color: #007020 }                            /* Keyword.Pseudo */
div.highlight .kr { color: #007020; font-weight: bold }         /* Keyword.Reserved */
div.highlight .kt { color: #007020; font-weight: bold }         /* Keyword.Type */
div.highlight .m { color: Magenta }                             /* Literal.Number */
div.highlight .s { color: Magenta }                             /* Literal.String */
div.highlight .na { color: Magenta }                            /* Name.Attribute */
div.highlight .nb { color: #007020 }                            /* Name.Builtin */
div.highlight .nc { color: #0e84b5; font-weight: bold }         /* Name.Class */
div.highlight .no { color: #60add5 }                            /* Name.Constant */
div.highlight .nd { color: #555555; font-weight: bold }         /* Name.Decorator */
div.highlight .ni { color: #d55537; font-weight: bold }         /* Name.Entity */
div.highlight .ne { color: #007020 }                            /* Name.Exception */
div.highlight .nf { color: DarkCyan }                            /* Name.Function */
div.highlight .nl { color: #002070; font-weight: bold }         /* Name.Label */
div.highlight .nn { color: #0e84b5; font-weight: bold }         /* Name.Namespace */
div.highlight .nt { color: #062873; font-weight: bold }         /* Name.Tag */
div.highlight .nv { color: #bb60d5 }                            /* Name.Variable */
div.highlight .ow { color: #007020; font-weight: bold }         /* Operator.Word */
div.highlight .mf { color: Magenta }                            /* Literal.Number.Float */
div.highlight .mh { color: Magenta }                            /* Literal.Number.Hex */
div.highlight .mi { color: Magenta }                            /* Literal.Number.Integer */
div.highlight .mo { color: Magenta }                            /* Literal.Number.Oct */
div.highlight .sb { color: Magenta }                            /* Literal.String.Backtick */
div.highlight .sc { color: Magenta }                            /* Literal.String.Char */
div.highlight .sd { color: Magenta; font-style: italic }        /* Literal.String.Doc */
div.highlight .s2 { color: Magenta }                            /* Literal.String.Double */
div.highlight .se { color: Magenta; font-weight: bold }         /* Literal.String.Escape */
div.highlight .sh { color: Magenta }                            /* Literal.String.Heredoc */
div.highlight .si { color: #70a0d0; font-style: italic }        /* Literal.String.Interpol */
div.highlight .sx { color: #c65d09 }                            /* Literal.String.Other */
div.highlight .sr { color: #235388 }                            /* Literal.String.Regex */
div.highlight .s1 { color: Magenta }                            /* Literal.String.Single */
div.highlight .ss { color: #517918 }                            /* Literal.String.Symbol */
div.highlight .bp { color: #007020; font-style: italic }        /* Name.Builtin.Pseudo */
div.highlight .vc { color: #bb60d5 }                            /* Name.Variable.Class */
div.highlight .vg { color: #bb60d5 }                            /* Name.Variable.Global */
div.highlight .vi { color: #bb60d5 }                            /* Name.Variable.Instance */
div.highlight .il { color: #40a070 }                            /* Literal.Number.Integer.Long */
